.card{
    background:#101010;
    border-radius:12px;
    padding:20px;
    margin:20px 0;
    color:#fff;
}

.orange{
    border:2px solid #ff7b00;
}

.blue{
    border:2px solid #00bfff;
}

.purple{
    border:2px solid #a020f0;
}

.btn{
    display:inline-block;
    margin-top:10px;
    margin-right:10px;
    padding:12px 20px;
    border-radius:8px;
    background:#00bfff;
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.btn:hover{
    transform:scale(1.05);
}

.buttons{
    margin-top:15px;
}
